body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', Arial;
}

a {
    color: rgba(255, 255, 255, .4);
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
a:hover {
    color: #fff;
}

h3 {
  margin: 0;
  font-weight: 300;
}

#wrapper {
  text-align: center;
  visibility: hidden;
  width: 300px;
}

.logo {
  background: url(../img/logo.png) center center no-repeat;
  /*height: 125px;*/
  height: 80px;
  margin: 0 auto;
  text-indent: -99999999px;
  width: 220px;
}

.countries {
  text-align: center;
}

.country-selector {
  list-style-type: none;
  margin: 50px auto;
  padding: 0;
}
.country-selector li {
  display: inline-block;
  margin: 0 15px;
}
.country-selector li img {
  display: block;
  margin: 0 auto 10px auto;
}
